@foreach (var prop in ViewData.ModelMetadata.Properties.Where(pm => pm.ShowForDisplay && !pm.ModelType.IsAbstract && !ViewData.TemplateInfo.Visited(pm)).OrderBy(a=>a.Order))
{
    <div class="form-group">
        <label class="col-sm-3 control-label" for="@prop.PropertyName"> @prop.DisplayName</label>
        <div class="col-sm-6" style="padding: 7px 15px">
                @Html.Display(prop.PropertyName)
        </div>
    </div>
}
