@using Web.Helpers

<div class="content-heading">
    @Html.ThisControllerName()
</div>

<div class="panel panel-default">

    <div class="panel-body form-horizontal">
        @RenderBody()
    </div>
</div>
