@using Models.SysModels
<!-- START Off Sidebar (right)-->
<nav>
    <div role="tabpanel">
        <!-- Nav tabs-->
        <ul role="tablist" class="nav nav-tabs nav-justified">
            <li role="presentation" class="active">
                <a href="#app-settings" aria-controls="app-settings" role="tab" data-toggle="tab">
                    <em class="fa fa-cogs fa-lg"></em>
                </a>
            </li>
            <li role="presentation">
                <a href="#app-chat" aria-controls="app-chat" role="tab" data-toggle="tab">
                    <em class="fa fa-info-circle fa-lg"></em>
                </a>
            </li>
        </ul>
        <!-- Tab panes-->
        <div class="tab-content">
            <div id="app-settings" role="tabpanel" class="tab-pane fade in active">
                <h3 class="text-center text-thin">设置</h3>
                <div class="p">
                    <h4 class="text-muted text-thin">主题</h4>
                    <div class="table-grid mb">
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-a.css">
                                    <input type="radio" name="setting-theme" checked="checked" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-info"></span>
                                        <span class="color bg-info-light"></span>
                                    </span>
                                    <span class="color bg-white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-b.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-green"></span>
                                        <span class="color bg-green-light"></span>
                                    </span>
                                    <span class="color bg-white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-c.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-purple"></span>
                                        <span class="color bg-purple-light"></span>
                                    </span>
                                    <span class="color bg-white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-d.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-danger"></span>
                                        <span class="color bg-danger-light"></span>
                                    </span>
                                    <span class="color bg-white"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="table-grid mb">
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-e.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-info-dark"></span>
                                        <span class="color bg-info"></span>
                                    </span>
                                    <span class="color bg-gray-dark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-f.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-green-dark"></span>
                                        <span class="color bg-green"></span>
                                    </span>
                                    <span class="color bg-gray-dark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-g.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-purple-dark"></span>
                                        <span class="color bg-purple"></span>
                                    </span>
                                    <span class="color bg-gray-dark"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col mb">
                            <div class="setting-color">
                                <label data-load-css="/Content/app/css/theme-h.css">
                                    <input type="radio" name="setting-theme" />
                                    <span class="icon-check"></span>
                                    <span class="split">
                                        <span class="color bg-danger-dark"></span>
                                        <span class="color bg-danger"></span>
                                    </span>
                                    <span class="color bg-gray-dark"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p">
                    <h4 class="text-muted text-thin">布局</h4>
                    <div class="clearfix">
                        <p class="pull-left">固定</p>
                        <div class="pull-right">
                            <label class="switch">
                                <input id="chk-fixed" type="checkbox" data-toggle-state="layout-fixed">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left">居中</p>
                        <div class="pull-right">
                            <label class="switch">
                                <input id="chk-boxed" type="checkbox" data-toggle-state="layout-boxed">
                                <span></span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="p">
                    <h4 class="text-muted text-thin">菜单</h4>
                    <div class="clearfix">
                        <p class="pull-left">折叠</p>
                        <div class="pull-right">
                            <label class="switch">
                                <input id="chk-collapsed" type="checkbox" data-toggle-state="aside-collapsed">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left">悬浮</p>
                        <div class="pull-right">
                            <label class="switch">
                                <input id="chk-float" type="checkbox" data-toggle-state="aside-float">
                                <span></span>
                            </label>
                        </div>
                    </div>
                    <div class="clearfix">
                        <p class="pull-left">悬停</p>
                        <div class="pull-right">
                            <label class="switch">
                                <input id="chk-hover" type="checkbox" data-toggle-state="aside-hover">
                                <span></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div id="app-chat" role="tabpanel" class="tab-pane fade">
                <h3 class="text-center text-thin">系统帮助</h3>
                <ul class="nav">
                    @foreach (var item in (IEnumerable<SysHelp>)ViewBag.OffsiderbarHelp)
                    {
                        <li class="p">
                            @Html.DisplayFor(a => item.Title)
                        </li>
                        <li class="p">
                            <small class="text-muted"> @Html.DisplayFor(a => item.Content)</small>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</nav>
<!-- END Off Sidebar (right)-->