
@using Resources
@using Web.Helpers

<a class="btn btn-primary" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Main" href="@Url.Action("Create",  Request.ToRouteValueDictionary())"> <i class="fa fa-file-o"></i> @Lang.Create </a>
