@using Resources
@using Web.Helpers

<a class="btn btn-primary" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#Main" href="@Url.Action("Index",  Request.ToRouteValueDictionary())"> <i class="fa fa-chevron-left"></i> @Lang.Back </a>
