<select  name="@(ViewBag.Name)"  class="form-control">
    <option></option>
    <option value="true"  @(Request.QueryString[ViewBag.Name+"_method"]== "true" ? "selected":"")>是</option>
    <option value="false"  @(Request.QueryString[ViewBag.Name+"_method"]== "false" ? "selected":"")>否</option>
</select>