@using Chart.Mvc.ComplexChart
@using Chart.Mvc.Extensions

<div class="content-heading">

    管理平台桌面
    <small> 欢迎进入管理平台</small>
</div>



<div class="row">
    <div class="col-lg-6">
        <!-- START widget-->
        <div class="panel ">
            <div class="panel-heading">
                <div class="panel-title">网站用户注册分析</div>
            </div>

            <div class="panel-body">
                <div>
                    @{
                        var sysUserChart = new LineChart();

                        sysUserChart.ChartConfiguration.Responsive = true;

                        Dictionary<string, double> sysUserCountDay = ViewBag.SysUserCountDay;

                        sysUserChart.ComplexData.Labels.AddRange(sysUserCountDay.Keys);

                        sysUserChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                    {
                        new ComplexDataset
                        {
                            Data = sysUserCountDay.Values.ToList(),
                            FillColor = "rgba(151,187,205,0.2)",
                            StrokeColor = "rgba(151,187,205,1)",
                            PointColor = "rgba(151,187,205,1)",
                            PointHighlightStroke = "rgba(220,220,220,1)"
                        }
                    });
                    }
                    <canvas id="sysUserChart" style="width: 100%; height: 200px"></canvas>
                    @Html.CreateChart("sysUserChart", sysUserChart)
                </div>
            </div>
        </div>
        <!-- END widget-->
    </div>

    <div class="col-lg-6">
        <!-- START widget-->
        <div class="panel ">
            <div class="panel-heading">
                <div class="panel-title">管理平台使用数据分析</div>
            </div>

            <div class="panel-body">
                <div>
                    @{
                        var sysUserLogChart = new LineChart();

                        sysUserLogChart.ChartConfiguration.Responsive = true;

                        Dictionary<string, double> sysUserLogCountDay = ViewBag.SysUserLogCountDay;

                        sysUserLogChart.ComplexData.Labels.AddRange(sysUserLogCountDay.Keys);

                        sysUserLogChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                        {
                            new ComplexDataset
                            {
                                Data = sysUserLogCountDay.Values.ToList(),
                                FillColor = "rgba(151,187,205,0.2)",
                                StrokeColor = "rgba(151,187,205,1)",
                                PointColor = "rgba(151,187,205,1)",
                                PointHighlightStroke = "rgba(220,220,220,1)"
                            }
                        });

                    }
                    <canvas id="sysUserLogChart" style="width: 100%; height: 200px"></canvas>
                    @Html.CreateChart("sysUserLogChart", sysUserLogChart)
                </div>
            </div>
        </div>
        <!-- END widget-->
    </div>

    <div class="col-lg-6">
        <!-- START widget-->
        <div class="panel ">
            <div class="panel-heading">
                <div class="panel-title">平台执行速度分析</div>
            </div>

            <div class="panel-body">
                <div>
                    @{
                        var SysUserLogDayDurationChart = new LineChart();

                        SysUserLogDayDurationChart.ChartConfiguration.Responsive = true;

                        Dictionary<string, double> SysUserLogDayDuration = ViewBag.SysUserLogDayDuration;

                        SysUserLogDayDurationChart.ComplexData.Labels.AddRange(SysUserLogDayDuration.Keys);

                        SysUserLogDayDurationChart.ComplexData.Datasets.AddRange(new List<ComplexDataset>
                    {
                        new ComplexDataset
                        {
                            Data = SysUserLogDayDuration.Values.ToList(),
                            FillColor = "rgba(151,187,205,0.2)",
                            StrokeColor = "rgba(151,187,205,1)",
                            PointColor = "rgba(151,187,205,1)",
                            PointHighlightStroke = "rgba(220,220,220,1)"
                        }
                    });

                    }
                    <canvas id="SysUserLogDayDurationChart" style="width: 100%; height: 200px"></canvas>
                    @Html.CreateChart("SysUserLogDayDurationChart", SysUserLogDayDurationChart)
                </div>
            </div>
        </div>
        <!-- END widget-->
    </div>
</div>




