<?xml version="1.0"?>
<appSettings>
  <!--<add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />-->
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!--用户自定义-->
  <add key="Copyright" value="©2011.2~2017 wjw1.com All Rights Reserved" />
  <add key="SystemName" value="基础平台" />
  <!--上传文件配置开始-->
  <add key="UploadFileRoot" value="userfiles" />
  <!--是否启用云存储blob-->
  <!--<add key="StorageConnectionString" value="" />-->
  <add key="ImageMaxWidth" value="1000" />
  <add key="ImageMaxHeight" value="750" />
  <add key="UploadFilesExtensions" value=".7z,.aiff,.asf,.avi,.bmp,.csv,.doc,.docx,.fla,.flv,.gif,.gz,.gzip,.jpeg,.jpg,.mid,.mov,.mp3,.mp4,.mpc,.mpeg,.mpg,.ods,.odt,.pdf,.png,.ppt,.pptx,.pxd,.qt,.ram,.rar,.rm,.rmi,.rmvb,.rtf,.sdc,.sitd,.swf,.sxc,.sxw,.tar,.tgz,.tif,.tiff,.txt,.vsd,.wav,.wma,.wmv,.xls,.xlsx,.zip" />
  <add key="UploadImagesExtensions" value=".bmp,.gif,.jpeg,.jpg,.png" />
  <!--上传文件配置结束-->
  <!--系统日志保留时常(天)-->
  <add key="LogValidity" value="30" /> 
  <!--计划任务间隔时间（秒）-->
  <add key="TaskInterval" value="60" />
  <add key="AzureServiceBusConnectionString" value="Endpoint=sb://wjw1servicebus.servicebus.chinacloudapi.cn/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=rMiP0XzASnjEkSnk6vlZTaOf9Hujn8d4OGTWDaxKcxA="/>
</appSettings>