@model double
<span class="text-yellow" style="font-size: 160%">
    @Html.BootstrapRating().Value(Model).Set(BootstrapRatingOptions.filledSymbols, "fa fa-star").Set(BootstrapRatingOptions.emptySymbols, "fa fa-star-o")
    </span>