@using System.Configuration
@{
    ViewBag.Title = "密码重置成功";
}


<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12">

            <div style="border: 1px solid #ddd; background-color: white; margin-top: 5px; padding: 40px 0">


                <div class="text-center">
                    <h4>@ConfigurationManager.AppSettings["SystemName"]</h4>
                </div>

                <div class="text-center">
                    <h4 style="color: green">密码重置成功！</h4>
                </div>
            </div>
        </div>
    </div>
</div>