
* {
    font-family: 'Microsoft YaHei';
}

body {
    background-size: 100% auto;
    background: url(/content/sitebg.jpg) repeat center;
}

a {
    -webkit-transition: all .3s ease-in-out 0s;
    -moz-transition: all .2s ease-in-out 0s;
    -ms-transition: all .2s ease-in-out 0s;
    -o-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
    color: #333;
}

.text-white > a:hover, .text-white > ul > li > a:hover {
    color: #ccc;
}

.container {
    padding: 0;
}

.text-white a, .text-white > ul > li > a {
    color: white;
}

.navbar-brand {
}


ul > .active {
    background-color: #fcfcfc;
    font-weight: bold;
}


.input-validation-error {
    border-color: red;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

/*a:link {
        color: black;
}




.navbar-default .navbar-brand {

    color: inherit;
}

.navbar-default .navbar-nav > li > a {
     color: black;
}
.navbar-default .navbar-nav > li > a:hover {
     color: #777;
}*/

.field-validation-error {
    color: red;
}

.wrapper {
    background-color: #f5f7fa;
}

.multiselect {
    text-align: left;
}

ul.multiselect-container.dropdown-menu {
    width: 100%;
}

.multiselect b.caret {
    position: absolute;
    top: 14px;
    right: 8px;
}

.multiselect-group {
    font-weight: bold;
    text-decoration: underline;
}

.navbar-nav li {
    float: left;
}

    .navbar-nav li a {
        padding-right: 0px;
    }

.FriendSite a {
    padding: 0 5px;
}

.productclassnemu div a {
    padding: 4px 5px;
    display: inline-block;
    color: white;
    font-size: 12px;
}

.columntitle {
    background: url(/content/titlebg.png) no-repeat;
    background-color: #006500;
    width: 135px;
    height: 39px;
    font-size: 15px;
    padding: 9px 0 8px 45px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    padding: 5px;
}


.TopMenunav {
}

    .TopMenunav ul {
        margin: 0;
    }

.nav-item {
    position: relative;
    text-align: center;
    width: 120px;
    z-index: 1;
    padding: 0;
    margin: 0;
}

    .nav-item a {
        display: block;
        color: #000;
        font-size: 16px;
        width: 120px;
        line-height: 44px;
        margin: 0;
        padding: 0;
    }

        .nav-item a:hover {
            font-weight: bold;
            text-decoration: none;
        }

.move-bg {
    display: none;
    position: absolute;
    top: 49px;
    width: 120px;
    height: 1px;
    background: #eee;
    z-index: 0;
}

.TopMenunav .cur a {
    color: #fff;
    background-color: #006500;
    z-index: 1;
    line-height: 44px;
    margin-bottom: -3px;
}
/*.TopMenunav ul .cur a{  color: white }*/


ul.text-overflow {
    list-style: disc;
    padding-left: 0;
}

.text-overflow {
    overflow: hidden;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

    .text-overflow > li {
        line-height: 220%;
        list-style-position: inside;
        overflow: hidden;
        -moz-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.nav-tabs-green {
}



    .nav-tabs-green > li {
        float: left;
        border: 0;
    }


        .nav-tabs-green > li.active {
            border-top: 2px solid green;
            border-left: 1px solid green;
            border-right: 1px solid green;
        }

            .nav-tabs-green > li.active > a, .nav-tabs-green > li.active > a:hover, .nav-tabs-green > li.active > a:focus {
                background-color: white;
                border: 0;
                color: green;
            }

a.pricedetailslink {
    text-decoration: none;
}

    a.pricedetailslink:hover > div {
        background-color: #ECECFB;
    }




.scroll_horizontal .list {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 0;
    margin: 0;
}

    .scroll_horizontal .list li {
        display: table-cell
    }
